*
!.gitignore
!*.jar

# Plugin configs
!*/
!*/config.yml
!*/config.json

# Essentials
!/Essentials/kits.yml
!/Essentials/motd.txt
!/Essentials/rules.txt
!/Essentials/book.txt
!/Essentials/worth.yml
!/Essentials/spawn.yml
!/Essentials/jail.yml
!/Essentials/info.txt

# World Edit
!WorldEdit/
!WorldEdit/schematics/
!WorldEdit/schematics/*
